<!-- menu -->
<div class="menu">
  <ul class="menu-list">
    <li class="menu-item"><%= link_to("top", top_path) %></li>
    <li class="menu-item"><%= link_to("about", about_path) %></li>
    <li class="menu-item"><%= link_to("posts", posts_path) %></li>
    <li class="menu-item"><%= link_to("送信フォーム", new_post_path) %></li>
  </ul>
</div><!-- /menu -->

