<!-- menu -->
<div class="menu">
  <ul class="menu-list">
    <li class="menu-item"><%= link_to("top", "/top") %></li>
    <li class="menu-item"><%= link_to("about", "/about") %></li>
    <li class="menu-item"><%= link_to("posts", "/posts") %></li>
    <li class="menu-item"><%= link_to("送信フォーム", new_post_path) %></li>
  </ul>
</div><!-- /menu -->

